/* .navbarBox {
    display: grid;
    grid-area: header;

    background-color: #ffa229;
} */

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding-right: 40px;
    background-color: #ffa229;
}

.navbarHome {
    padding-right: 40px;
}
.navbarArchive {
    padding-right: 40px;
}
.navbarLink {
    color: #7f4700;   
}

